
.avatar {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.is-small {
    padding: .8rem 1.5rem;
}

.read {
    font-size: 24px;
    vertical-align: middle;
    position: relative;
    top: 8px;
}
.section {
    padding: 1.5rem 1.5rem !important;
}