<template name="home">
    {{#if currentUser }}
    <section class="section">
        <div class="container">
            <!-- Main container -->
            <nav class="level is-mobile">
                <!-- Left side -->
                <div class="level-left">
                    <div class="level-item">
                        <p class="subtitle is-5">
                            Issue Manager
                        </p>
                    </div>
                    <div class="level-item">
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu4">
                                    <span class="icon is-small">
                                        <i class="fa fa-bell" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                <div class="dropdown-content">
                                    <a href="#" class="dropdown-item">
                                        Dropdown item
                                    </a>
                                    <a class="dropdown-item">
                                        Other dropdown item
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <p class="level-item"><strong>Open</strong></p>
                    <p class="level-item"><a>Closed</a></p>
                    <p class="level-item"><a>All</a></p>
                    <p class="level-item"><a href="/issue/new" class="button is-success">New</a></p>
                </div>
            </nav>
        </div>
    </section>
    {{> stream}}
    {{ else }}
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="subtitle">Access Denied. Please authenticate with Google.</h1>
            <a class="button is-info is-outlined is-large login">Login with your Google account.</a>
        </div>
    </section>
    {{/if}}
</template>