<template name="stream">
    <section class="section">
        <div class="container">
            <div class="box">
                <article class="media is-10">
                    <div class="media-left">
                        <figure class="image has-text-centered">
                            <i class="fa fa-question-circle-o" style="font-size: 48px;" aria-hidden="true"></i>
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>John Smith</strong> <small>31m ago&nbsp;<span class="tag">Open</span></small>
                                <br>
                                Subject. If you click you get detail view.
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <figure class="image has-text-centered">
                            <a href="#" class="fixH" ><i class="fa read fa-eye"  aria-hidden="true"></i></a>
                        </figure>
                    </div>
                </article>
            </div>
        </div>
    </section>
</template>